<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user study link</title>
</head>
<body>
    <h1>Available Links</h1>
    <ul>
        <% if (links) { links.forEach(link => { %>
            <li><a href="<%= link.url %>" target="_blank"><%= link.name %></a></li>
        <% }); } %>
    </ul>
</body>
</html>