<form action="/bankForm" method="POST">
    <label for="deposit">Deposit:</label>
    <input type="text" name="deposit" value="0">

    <label for="description">Description:</label>
    <select name="description">
        <option value="ATM">ATM</option>
        <option value="cash">Cash</option>
        <option value="bank">Bank</option>
    </select>

    <button type="submit">Search and Send</button>
</form>

